PS_DOMAIN=localhost:19795
PS_PORT=19795
PS_SHOP_NAME=tuttu
PS_ADMIN_MAIL=admin@gmial.com
PS_ADMIN_PASSWD=AdminPassword123
PS_ERASE_DB=1
PS_INSTALL_DB=1
DB_NAME=prestashop
DB_SERVER=prestashop-prod-test-mysql
DB_PORT=3306
DB_USER=root
DB_PREFIX=ps_
DB_ROOT_PASSWORD=admin
PS_DB_CREATE=1
PS_LANGUAGE=pl
PS_COUNTRY=pl
PS_SSL=1
PS_NEWSLETTER=0
PS_FOLDER_ADMIN=admin4577
PS_FOLDER_INSTALL=install4577
API_KEY=43DC9XL4JL2AZBSY2CLU7M56DJXXLTWL
MEMCACHED_HOST=memcached
MEMCACHED_PORT=11211