services:
  nginx:
    container_name: nginx
    image: nginx:alpine
    restart: unless-stopped
    depends_on:
      - prestashop
    ports:
      - "80:80"
      - "443:443"
    networks:
      - prestashop_network
    volumes:
      - ./nginx/dev.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - psdata:/var/www/html:ro
